
.Acrousel{
    background-image: url('../Images/about\ crowsel.png');
    height: 900px;
}
.goal{
    display: flex;
    justify-content: space-around;
}
.head{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;

}
.headd{
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    font-weight: 100px;
}
.headingg{
          text-align: center;
          margin-top: -6px;
}
.heading{
    font-size: 20px;

    
}
.para{
    text-align: center;
}
.factimg{
    height: 650px;
    width: 550px;
    transition: 1s ;
    }
    .facetimg:hover{
        transform: (1.1);
    }
.story{
    margin-top: 17px;
    font-size: 20px;
    font-weight: 770px;
    text-align: center;
}
.founder{
    height: 700px;
    width: 100%;
    text-align: center;
}
.mainn{
    width: 200px;
    transition: 2s;
}
.mainn:hover{
    transform: scale(1.1);
    transition: 2s;

}
.founderimg{
    border: 5px solid black;
}
.ourfounders{
    margin-top: 10px;
    text-align: center;
    font-size: 54px;
    color:#0b49a6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 29px;
}

.nm{
    text-align: center;
    font-size: 29px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
color:#0b49a6;
}
.nmm{
    text-align: center;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 00px;
    color:#0b49a6;
}
.ecohead{
    margin-top: -45px;
    font-size: 33px;
    color: #0b49a6;
}
    

.footer{
    background-color: #dee2e6;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.foot{
    margin-top: 50px;
}

