.img{
    background-image: url('https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&w=600');
     height: 1000px; 
    width: 1000px;  
    background-size: cover;

}
.slide{
background-color: black;
height: auto;
width: 300px;
color: white;
}



.main{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;

     margin: 100px; 
    margin-left: 450px;
    margin-top: -380px;
    text-align: center;
}
.head{
    height:400px ;
    width: 400px;
    /* border: 1px solid black; */
    margin: 20px;
    /* padding: 10px; */
    margin-left:200px ;
    margin-top: 200px;
    text-align: center;
    
    
}
.xyz{
    height: 40px;
    width: 40px;
   /* border: 1px solid black; */
   margin-left: 250px;
   margin-top: -135px;
}
.abc{
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    margin-left: 210px;
    margin-top: -80px;
}
.map-container{
    /* height: 600px;
    width: 900px; */
     margin-left: 650px;
} 

