.crousell{
    height: 90vh;
}
.chead{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: inline-block;
}
.s1pro{
font-family: ;
}
.icon{
 margin-top: 70px;
display: flex;
justify-content: space-around;
}
.imgicon{
    border-radius: 100%;
    border: 2px solid black;
    height: 200px;
    width: 220px;
    cursor: pointer;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 199px; */
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
}
.text{
    text-align:center;
    padding: 90px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px;
    font-weight:500;
   

}
.textt{
    text-align:center;
    margin-top: -100px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px;
    font-weight:500;
   

}
.mainicon{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.mcard{
    margin: 39px;
}
.cimg{
    height: 150px;
    width: 150px;
    
    /* border: 2px solid rgb(106, 233, 106); */
}
.num{
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
}
.txt{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.madd{
color: #767f87;
font-family: Arial, Helvetica, sans-serif;
}
.maddd{
    text-align: center;
    margin-top: -15px;
    color: #767f87;
    font-family: Arial, Helvetica, sans-serif;
}
.png{
    margin: 5px;
}