.card-group{
    justify-content: space-evenly;
    margin: 20px;
}
.bus-card{
 
    transition: 1s;
 
  
}
.bus-card:hover{
    transform: scale(0.9);
    box-shadow: 5px 5px 20px 1px gray ;

}
.head{
    text-align: center;
    margin-top: 20px;
    color: darkcyan;
}
.heading{
    text-align: center;
}
.btn{
    border: 1px solid gray;
    color: darkcyan;
    
}
.next{

    /* border: 1px solid black; */
    border-radius: 4px 4px 4px 4px;
}


.text{
    text-align: center;
    margin: 20px;
    font-family: cursive;
    font: bold;
}
.icon{
    font-size: 25px;
    color: yellow;
}
.hr{
    border: 3px solid black;
}
