.card-group{
    justify-content: space-evenly;
    margin: 20px;
}
.card{
    margin: 20px;
    transition: 1s;
    border: 1px soild black;
    /* box-shadow: 1px 1px 40px 1px ; */
}
.card:hover{
    transform: scale(0.9);
}
.head{
    text-align: center;
    margin-top: 20px;
}
.heading{
    text-align: center;
}
.btn{
    border: 1px solid gray;
    
}
.next{

    /* border: 1px solid black; */
    border-radius: 4px 4px 4px 4px;
}


.text{
    text-align: center;
    margin: 20px;
    font-family: cursive;
    font: bold;
}
.icon{
    font-size: 25px;
    color: yellow;
}
