.card-group{
    justify-content: space-evenly;
    margin: 20px;
}
.card{
    margin: 20px;
    transition: 1s;
    border: 2px soild darkcyan;
    box-shadow: 10px 10px 5px 20px 10px ;
}
.card:hover{
    transform: scale(0.9);
}

.hr{
    border: 3px solid black;
}
.head{
    text-align: center;
    margin-top: 20px;
    color: darkcyan;
    font: bold;
    background-color: white;
    width: 20vw;
    margin: auto;
    position: relative;
    top: -45px;
    
}
/* .head-span{
    font-size: 52px;
} */
.heading{
    text-align: center;
    color: darkcyan;
}
.btn{
    border: 1px solid gray;
    
}
.next{
    
    /* border: 1px solid black; */
    border-radius: 4px 4px 4px 4px;
}

.icon {
    font-size: 25px;
    color: yellow;
}
.btn-1{
    height: 50px;
    width: 100px;
    border: 1px solid black;
    margin-left: 700px;
}