.main{
    border: 5px solid black;
    border-radius: 20px;
    margin-left: 50px;
    margin-bottom: 70px;
    transition : 1s;
    box-shadow: 5px 5px 5px 10px rgb(100, 214, 214);
}
.main:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 5px 5px 5px 10px aqua;

}
.name{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.price{
    margin-left: 80px;
}
.compname{
    margin-left: 60px;
}
.add{
    margin-left: 68px;
}
.star {
    font-size: 24px;
    color: yellow;
    margin-left: px;
}
.rating{
    margin-left: 5px;
    background-color: green;
    color: whitesmoke;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
}
.button{
    margin-left: 52px;
}